@{
    ViewData["Title"] = "Food Index";
}

<h2>Food Index</h2>
<li><a asp-controller="Food" asp-action="Eat" asp-route-creature="wookie" asp-route-meal="lunch">Wookie Lunch</a></li>
<li><a asp-controller="Food" asp-action="Eat" asp-route-creature="jawa" asp-route-meal="dinner">Jawa Dinner</a></li>
<li><a asp-controller="Food" asp-action="Eat" asp-route-creature="ewok" asp-route-meal="breakfast">Ewok Breakfast</a></li>

