
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>This home page uses a Razor view and renders static HTML.</p>

<a href="https://localhost:44340/home/puddingtime?username=chris&password=bob&amount=5&isgoodidea=true">Pudding Time Y'All(5)</a>
<a href="https://localhost:44340/home/puddingtime?username=chris&password=bob&amount=15">Pudding Time Y'All(15)</a>

