@model CityViewModel

@*Step 8 - Add Confirmation View for successfully adding a new city to the database*@

<h2>Confirmation</h2>
<div>Country: @Model.CountryCode</div>
<div>District: @Model.District</div>

